.container {
    
    display: flex;
    justify-content: center;
    margin: 2em;

    &__glass {
        font-size: 3em;
    }

    &__form {
        
        border: 1px solid rgb(228, 225, 225);
        padding: 0 2%;
        border-radius: 6px;
        display: flex;
    
    }
}